.banca-professor{
    .header{
        margin-bottom: 4.6rem;
    }

    .s-search{
        margin-bottom: 4.6rem;

        .print{
            display: flex;
            align-items: center;

            img{
                margin-right:  2.4rem;
            }
        }
    }
}