$brand-color-01: #2352F9;
$brand-color-02: #00A0FB;
$brand-color-03: #0A112D;

$secondary-color: #E9182D;

$light-color: #fff;

$gray-color-100: #011332;
$gray-color-200: #031637;
$gray-color-300: #00163D;
$gray-color-400: #2E3B51;
$gray-color-500: #4D586B;
$gray-color-600: #A4AAB4;
$gray-color-700: #E5E6E9;